.address {
  display: flex;
  justify-content: space-between;

  padding-top: 30px;
  padding-right: $indent;
  padding-bottom: 25px;
  padding-left: $indent;

  &--other-color {
    background-color: #ffffff;
  }
}

.address__call {
  width: 125px;
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 1.25em;
}

.address__wrapper {
  width: 140px;
  margin-top: 0;
  margin-bottom: 0;

  color: $color-text;

  line-height: 1.43;
}

@media (min-width: $tablet-width) {
  .address {
    padding-top: 70px;
    padding-right: 9.1%;
    padding-bottom: 60px;
    padding-left: 9.1%;
  }

  .address__call {
    width: 155px;

    font-size: 20px;
  }

  .address__wrapper {
    width: 155px;

    font-size: 16px;
    line-height: 1.25em;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    top: 95px;
    left: $desktop-indent;

    width: 570px;
    padding-right: 90px;
    padding-left: 75px;

    background-color: #ffffff;
  }
}
