.address {
  display: flex;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 25px;

  @include max-width-320;

  @media (min-width: $tablet-width) {
    width: 89.2%;
    min-width: 625px;
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width)  {
    position: absolute;
    top: 95px;
    left: $desktop-indent;

    width: 570px;
    padding-right: 90px;
    padding-left: 75px;

    background-color: #ffffff;
  }

  &--other-color {
    background-color: #ffffff;
  }
}

.address__call {
  width: 125px;
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 1.25em;

  @media (min-width: $tablet-width) {
    width: 155px;

    font-size: 20px;
  }
}

.address__wrapper {
  width: 140px;
  margin-top: 0;
  margin-bottom: 0;

  color: $color-text;

  line-height: 1.43;

  @media (min-width: $tablet-width) {
    width: 155px;

    font-size: 16px;
    line-height: 1.25em;
  }
}
