.button {
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  font-size: 16px;

  @include max-width-320;
  @include button-general($color-accent, $color-accent-contrast, $color-accent-interacting);

  &--promo {
    width: 100%;
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 10px;

    font-size: 14px;
  }

  &--more-product {
    @include button-general($color-neutral, $color-text, $color-neutral-interacting);
  }
}

@media (max-width: 768px) {
  .button {
    &--product {
      width: 100%;
    }

    &--other-product {
      width: 100%;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 100%;
    max-width: 1000px;
    margin-right: 0;
    margin-left: 0;

    font-size: 16px;
    line-height: 1.25em;

    &--promo {
      display: inline-block;

      width: 245px;
      padding-top: 17px;
      padding-bottom: 15px;

      font-size: 20px;
      line-height: 1em;
    }

    &--form {
      width: 45%;

      font-size: 20px;
      line-height: 1em;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--other-product {
      width: 245px;
    }
  }
}
