.button {
  display: block;

  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  font-size: 16px;

  @include button-general($color-accent, $color-accent-contrast, $color-accent-interacting);
  @include max-width-320;

  &--promo {
    padding-top: 15px;
    padding-bottom: 10px;

    font-size: 14px;
  }

  &--more-product {
    @include button-general($color-neutral, $color-text, $color-neutral-interacting);
  }

  &--other-product {
    width: 100%;
  }
}
