.copyright__link-author {
  cursor: pointer;
  text-decoration: none;

  color: $color-text;

  font-size: 16px;
  line-height: 1em;

  &:active {
    color: rgba($color-text, 0.3);
  }
}

.copyright__link-logo {
  cursor: pointer;
}
