.example {
  padding-bottom: 40px;

  border-top: 1px solid $color-neutral; /* чтобы не выпадал наружу margin у title */
  background-color: $color-neutral;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 625px, $color-neutral 625px);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;

    border-top: none;
    background: linear-gradient(to bottom, transparent 225px, $color-neutral 225px);
  }
}

.example__conteiner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    @include min-width-1300;
  }
}

.example__wrapper {
  @include max-width-320;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    @include min-width-768;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5em;
  }

  @media (min-width: $desktop-width)  {
    margin-top: 140px;
    margin-bottom: 70px;
  }
}

.example__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 75px;
  }
}

.example dl {
  box-sizing: border-box;
  width: 44.3%;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 22.5%;
    margin-right: 5.6%;
  }

  @media (min-width: $desktop-width) {
    width: 36.7%;
    margin-right: 0;
  }
}

.example dt {
  padding-top: 17px;
  padding-bottom: 18px;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid $border-additional;

  font-family: $font-accent;
  font-size: 24px;
  line-height: 1em;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23em;
  }
}

.example dd {
  display: block;

  box-sizing: border-box;
  width: 70%;
  margin-top: -10px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  color: $color-text;
  background-color: $color-neutral;

  font-size: 12px;
  line-height: 1em;

  @media (min-width: $tablet-width) {
    width: 80%;

    font-size: 14px;
  }
}

.example__cost {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  font-family: $font-accent;
  line-height: 1.43em;

  @media (min-width: $tablet-width) {
    width: 27%;
    margin-bottom: 0;
    margin-left: auto;

    text-align: right;

    font-size: 20px;
    line-height: 1em;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.example__title {
  @include title;
}

.example__cost span {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}
