.form {
  margin-top: 40px;
  padding-bottom: 35px;
}

.form__wrapper {
  margin-bottom: -14px;

  &--pet {
    margin-bottom: 0;
  }

  &--button {
    margin-top: 35px;
  }
}

.form__fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  border: none;
  border-top: 3px solid $color-accent;

  &--pet {
    padding-bottom: 10px;

    border-top: none;
  }

  &--program {
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid $border-basic;
    border-bottom: 1px solid $border-basic;
  }
}

.form__legend {
  box-sizing: border-box;
  max-width: 72%;
  padding: 30px 25px 30px $indent;

  font-family: $font-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
}

.form__item {
  display: flex;
  align-items: center;

  margin-bottom: 14px;

  @include max-width-320;

  &--radiobutton:not(:last-child) {
    margin-bottom: 13px;
  }

  &--radiobutton:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 15px;

  @include form-label;
}

.form__radiobutton-label {
  position: relative;

  display: flex;
  align-items: center;

  @include form-label;

  &::before {
    display: block;

    width: 30px;
    height: 30px;
    margin-right: 15px;

    content: "";
    cursor: pointer;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__radiobutton:checked + .form__radiobutton-label::after {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 12px;
  height: 12px;

  content: "";
  cursor: pointer;

  border-radius: 50%;
  background-color: $color-accent;
}

.form__checkbox-label {
  position: relative;

  display: flex;
  align-items: center;

  @include form-label;

  &::before {
    display: block;

    width: 30px;
    height: 30px;
    margin-right: 15px;

    content: "";
    cursor: pointer;

    border: 1px solid $border-basic;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__checkbox:checked + .form__checkbox-label::after {
  position: absolute;

  display: block;

  width: 30px;
  height: 17px;

  content: "";
  cursor: pointer;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__text {
  box-sizing: border-box;

  @include form-input;

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 18px 14px;
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 21px 21px;
  }
}

.form__textarea {
  @include form-input;
}

.form__note {
  margin-top: 25px;
  margin-bottom: 0;

  text-align: center;

  color: $color-text;

  line-height: 1.143em;
}

.form__comment-label {
  display: flex;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: $indent;

  font-family: $font-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;

  &::after {
    display: block;
    flex-grow: 1;

    width: 100px;
    height: 3px;
    margin-left: 25px;

    content: "";

    background-color: $color-accent;
  }
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 70px;
    padding-bottom: 70px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    //margin-bottom: -20px;

    @include form-min-width-768;

    &--pet {
      margin-bottom: 0;
    }

    &--contacts {
      margin-bottom: -20px;
    }

    &--additional {
      margin-bottom: -20px;
    }

    &--button {
      margin-top: 55px;
    }
  }

  .form__fieldset {
    &--pet {
      width: 100%;
    }

    &--program {
      width: 100%;
      margin-top: 45px;
      margin-bottom: 10px;
      padding-top: 25px;
      padding-bottom: 25px;

      border-right: 1px solid $border-basic;
      border-left: 1px solid $border-basic;
    }
  }

  .form__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;


    &--radiobutton {
      margin-left: 30px;
    }

    &--radiobutton:not(:last-child) {
      margin-bottom: 13px;
    }

    &--radiobutton:last-child {
      margin-bottom: 0;
    }

    &--textarea {
      margin-bottom: 0;
    }

    &--checkbox {
      width: 50%;
    }
  }

  .form__legend {
    max-width: 78%;
    margin-left: $tablet-indent;
    padding: 40px 5.2%;

    font-size: 36px;
    line-height: 1em;
  }

  .form__comment-label {
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 0;

    font-size: 36px;
    line-height: 1em;

    &::before {
      display: block;

      width: 3.9%;
      height: 3px;
      margin-right: 5.2%;

      content: "";

      background-color: $color-accent;
    }

    &::after {
      margin-left: 5.2%;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 1em;
  }

  .form__radiobutton-label {
    font-size: 20px;
    line-height: 1em;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__radiobutton:checked + .form__radiobutton-label::after {
    top: 11px;
    left: 11px;

    width: 20px;
    height: 20px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 1em;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__checkbox:checked + .form__checkbox-label::after {
    width: 40px;
  }

  .form__text {
    padding: 17px;
  }

  .form__textarea {
    margin-bottom: 0;
    padding: 17px;

    @include form-min-width-768;
  }

  .form__note {
    width: 50%;
    margin-left: auto;

    text-align: left;

    font-size: 16px;
    line-height: 1em;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    justify-content: space-between;

    @include min-width-1300;
  }

  .form__fieldset {
    &--pet {
      width: 46.7%;
      padding-bottom: 0;
    }

    &--program {
      width: 46.7%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .form__item {
    &--pet:last-child {
      margin-bottom: 0;
    }

    &--contacts {
      width: 46.7%;
    }

    &--checkbox {
      width: 25%;
    }
  }

  .form__text {
    height: calc(1em + 34px);

    font-size: 20px;
    line-height: 1em;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 1.5em;

    @include min-width-1300;
  }

  .form__legend {
    margin-left: 4.8%;
    padding: 70px 2.7%;
  }

  .form__comment-label {
    padding-top: 70px;
    padding-bottom: 70px;

    &::before {
      width: 4.8%;
      margin-right: 2.7%;
    }

    &::after {
      margin-left: 2.7%;
    }
  }

  .form__note {
    align-self: center;

    margin-top: 0;
  }
}
