.form {
  margin-top: 40px;
  padding-bottom: 35px;
}

.form__fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  border: none;
  border-top: 3px solid $color-accent;

  &--pet {
    padding-bottom: 25px;

    border-top: none;
  }

  &--program {
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid $border-basic;
    border-bottom: 1px solid $border-basic;
  }

  &:last-of-type {
    margin-bottom: 35px;
  }
}

.form__legend {
  box-sizing: border-box;
  max-width: 72%;
  padding: 30px 25px 30px $indent;

  font-family: $font-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
}

.form__item {
  display: flex;
  align-items: center;

  @include max-width-320;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form__label {
  margin-right: 15px;

  @include form-label;
}

.form__radiobutton-label {
  position: relative;

  display: flex;
  align-items: center;

  @include form-label;

  &::before {
    display: block;

    width: 30px;
    height: 30px;
    margin-right: 15px;

    content: "";
    cursor: pointer;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__radiobutton:checked + .form__radiobutton-label::after {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 12px;
  height: 12px;

  content: "";
  cursor: pointer;

  border-radius: 50%;
  background-color: $color-accent;
}

.form__checkbox-label {
  position: relative;

  display: flex;
  align-items: center;

  @include form-label;

  &::before {
    display: block;

    width: 30px;
    height: 30px;
    margin-right: 15px;

    content: "";
    cursor: pointer;

    border: 1px solid $border-basic;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__checkbox:checked + .form__checkbox-label::after {
  position: absolute;

  display: block;

  width: 30px;
  height: 17px;

  content: "";
  cursor: pointer;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__text {
  @include form-input;

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 18px 14px;
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 21px 21px;
  }
}

.form__textarea {
  @include form-input;
}

.form__note {
  margin-top: 25px;
  margin-bottom: 0;

  text-align: center;

  color: $color-text;

  line-height: 1.143em;
}

.form__comment-label {
  display: flex;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: $indent;

  font-family: $font-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;

  &:after {
    display: block;

    width: 100%;
    height: 3px;
    margin-left: 25px;

    content: "";

    background-color: $color-accent;
  }
}
