.main-nav {
  margin-top: -65px;

  text-align: right;
}

.main-nav__toggle {
  width: 20px;
  height: 40px;
  margin-top: 10px;
  margin-right: $indent;
  margin-bottom: 15px;

  cursor: pointer;

  border: none;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 19px;

  font-size: 0;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-close.svg");
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-nav__item {
  list-style: none;

  text-align: center;

  border-top: 1px solid $border-basic;
}

.main-nav__link {
  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  text-decoration: none;
  text-transform: uppercase;

  font-family: $font-accent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;

  @include max-width-320;
}

.main-nav__link[href] {
  @include link-interaction($color-basic);
}
