.main-nav {
  margin-top: -65px;

  text-align: right;
}

.main-nav__toggle {
  width: 20px;
  height: 40px;
  margin-top: 10px;
  margin-right: $indent;
  margin-bottom: 15px;

  cursor: pointer;

  border: none;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 0 8px;

  font-size: 0;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-close.svg");
  background-size: 20px 20px;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 25px 20px;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-nav__item {
  list-style: none;

  text-align: center;

  border-top: 1px solid $border-basic;
}

.main-nav__link {
  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  text-decoration: none;
  text-transform: uppercase;

  font-family: $font-accent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;

  @include max-width-320;
}

.main-nav__link[href] {
  @include link-interaction($color-basic);
}

@media (min-width: $tablet-width) {
  .main-nav {
    //position: absolute;
    //z-index: 1;
    //top: 0;
    //right: 0;
    margin-top: 0;

    width: 440px;
    //margin-top: 0;
    //margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    //align-items: center;

    //height: 100%;
    margin-top: 20px;
  }

  .main-nav__item {
    position: relative;
    border-top: none;

    &--active::after {
      position: absolute;
      display: block;

      width: 100%;
      height: 2px;
      margin-top: 5px;

      content: "";

      background-color: $color-accent;
    }
  }

  .main-nav__link {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 480px;
  }

  .main-nav__item--other-color {
    &::after {
      background-color: $color-accent-contrast;
    }
  }

  .main-nav__item--other-color .main-nav__link {
    color: $color-accent-contrast;
  }

  .main-nav__item--other-color .main-nav__link[href] {
    @include link-interaction($color-accent-contrast);
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 1.25em;
  }
}
