.other-products__list {
  @include hide-list;
}

.other-products__item {
  padding-top: 15px;
  padding-bottom: 20px;

  border-bottom: 1px solid $border-additional;

  @include max-width-320;

  &:first-child {
    border-top: 1px solid $border-additional;
  }
}

@media (min-width: $tablet-width) {
  .other-products__item {
    @include min-width-768;
    border-left: 1px solid $border-additional;
    border-right: 1px solid $border-additional;
  }
}
