.page-header {
  border-bottom: 1px solid $border-basic;
}

.page-header__link-logo {
  display: block;

  margin-left: $indent;
  padding-top: 10px;
  padding-bottom: 15px;
}

.page-header__link-logo[href] {
  cursor: pointer;

  @include main-logo-interaction;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
    margin-bottom: 25px;

    border-bottom: none;

    @include min-width-768;
  }

  .page-header__link-logo {
    display: flex;

    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__logo {
    width: 175px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 55px;

    @include min-width-1300;
  }

  .page-header__logo {
    width: 200px;
  }
}
