.page-footer {
  margin: 0;
  padding: 0;

  background-color: $color-neutral;
}

.page-footer__map {
  height: 100px;

  @media (min-width: $tablet-width) {
    height: 250px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.page-footer__contacts {
  text-align: center;

  @include max-width-320;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 55px;
    padding-bottom: 55px;

    @include min-width-768;
  }

  @media (min-width: $desktop-width) {
    @include min-width-1300;
  }
}

.page-footer__link-logo {
  display: block;

  padding-top: 39px;
  padding-bottom: 31px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__link-logo[href] {
  cursor: pointer;

  @include main-logo-interaction;
}

.page-footer__social {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;

  border-top: 1px solid #dadada;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;

    border-top: none;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 22px;
  padding-bottom: 22px;

  border-top: 1px solid #dadada;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding-top: 0;
    padding-bottom: 0;

    border-top: none;
  }
}

.page-footer__address {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}
