.page-main__text {
  width: 75%;
  margin: 5px $indent;

  text-transform: uppercase;

  font-family: $font-accent;
  font-weight: 500;
}

@media (min-width: $tablet-width) {
  .page-main__text {
    width: 350px;

    font-size: 20px;
    line-height: 1.5em;
  }
}

@media (min-width: $desktop-width) {
  .page-main__text {
    width: 24.5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: $desktop-indent;
  }
}
