.product {
  padding-top: 25px;
  padding-bottom: 25px;
}

.product__link-image {
  width: 43.75%;

  text-align: center;
}

.product__description {
  width: 43.75%;
  padding-top: 20px;
}

.product__link-title {
  display: block;

  padding-bottom: 16px;

  text-decoration: none;
}

.product__title {
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;

  color: $color-basic;

  font-family: $font-accent;
  font-size: 16px;
  font-weight: 400;
}

.product__marking {
  text-transform: uppercase;

  color: $color-basic;

  font-family: $font-accent;
  font-size: 16px;
  font-weight: 400;
}

.product__data {
  display: flex;
  flex-wrap: wrap;

  color: $color-text;

  font-size: 12px;
}

.product__data dt {
  width: 50%;

  text-align: left;
}

.product__data dd {
  width: 50%;
  margin-left: 0;

  text-align: right;
}
