.slider__list {
  @include hide-list;
}

.slider__item {
  display: none;

  width: 100%;
  height: 232px;

  background-repeat: no-repeat;
  background-position: center;
}

.slider__item--before {
  background-image: url("../img/before-mobile@1x.png");
}

.slider__item--after {
  background-image: url("../img/after-mobile@1x.png");
}

.slider__item--active {
  display: block;
}

.slider__controls {
  display: flex;
  justify-content: space-between;

  width: 61%;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.slider__label {
  text-transform: uppercase;

  font-family: $font-accent;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .slider__item {
    height: 517px;

    &--before {
      background-image: url("../img/before-tablet@1x.png");
    }

    &--after {
      background-image: url("../img/after-tablet@1x.png");
    }
  }

  .slider__controls {
    width: 74.2%;
  }

  .slider__label {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    //width: 45.1%;
    width: 650px;
    //margin-right: $desktop-indent;
    //margin-right: 40px;
  }

  .slider__item {
    &--before {
      background-image: url("../img/before-desktop@1x.png");
    }

    &--after {
      background-image: url("../img/after-desktop@1x.png");
    }
  }

  .slider__controls {
    width: 87.6%;
  }
}
