.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  }

.main-nav__item {
  padding-top: 24px;
  padding-bottom: 24px;

  list-style: none;

  text-align: center;

  border-top: 1px solid #e7e7e7;

  &:last-child {
    border-bottom: 1px solid #e7e7e7;;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-accent;
  font-size: 20px;font-weight: 500;
  line-height: 20px;

  @include link-interaction($color-basic);
  }
