$color-basic: #111111;
$color-basic-additional: #222222;
$color-text: #444444;
$color-accent: #68b738;
$color-accent-interacting: #5eaa2f;
$color-accent-contrast: #ffffff;
$color-neutral: #f2f2f2;
$color-neutral-interacting: #ebebeb;
$color-error: #ff8282;
