@mixin button-general($bgc-bacis, $color-basic, $bgc-interacting) { /* удалить */
  display: block;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $color-basic;
  border: none;
  background-color: $bgc-bacis;

  font-family: $font-accent;

  &:hover {
    background-color: $bgc-interacting;
  }

  &:focus {
    background-color: $bgc-interacting;
  }

  &:active {
    color: rgba($color-basic, 0.3);
    background-color: $bgc-interacting;
  }
}

@mixin link-interaction ($basic) {
  color: $basic;

  &:hover,
  &:focus {
    color: rgba($basic, 0.6);
  }

  &:active {
    color: rgba($basic, 0.3);
  }
}

@mixin main-logo-interaction {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin title {
  margin-top: 20px;
  margin-bottom: 25px;

  font-family: $font-accent;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.66em;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 1em;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@mixin wrapper {
  width: calc(100% - 2 * #{$mobile-indent});
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: calc(100% - 2 * #{$tablet-indent});
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 2 * #{$desktop-indent});
  }
}

@mixin max-width-320 { /* удалить */
  width: 87.5%;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

@mixin min-width-768 { /* удалить */
  width: 92%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

@mixin form-min-width-768 { /* удалить */
  width: 82%;
  margin-right: auto;
  margin-left: auto;
}

@mixin min-width-1300 { /* удалить */
  width: 84.7%;
  min-width: 1220px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

@mixin hide-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

@mixin form-label {
  flex-shrink: 0;

  text-transform: uppercase;

  color: $color-basic-additional;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 1.125em;
}

@mixin form-input {
  box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  padding: 15px;

  text-transform: uppercase;

  color: $color-text;
  border: 1px solid $border-basic;

  font-family: $font-accent;
  font-size: 16px;
  font-style: normal;
  line-height: 1.125em;

  &:focus,
  &:active {
    outline: 2px solid $color-text;
  }

  &:invalid {
    outline: 2px solid $color-error;
  }
}
