$font-basic: "Arial", sans-serif;
$font-accent: "Oswald", "Arial", sans-serif;
$color-basic: #111111;
$color-basic-additional: #222222;
$color-text: #444444;
$color-accent: #68b738;
$color-accent-interacting: #5eaa2f;
$color-accent-contrast: #ffffff;
$color-neutral: #f2f2f2;
$color-neutral-interacting: #ebebeb;
$color-error: #ff8282;
$color-transparent: transparent;
$border-basic: #e7e7e7;
$border-additional: #cecece;
$border-product: #ededed;
$border-width-bgc: #dadada;
$mobile-indent: 6.25%;
$tablet-indent: 4%;
$tablet-indent--form: 9%;
$desktop-indent: 3%;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$indent: 6.25%; /* удалить */
