.button {
  @include button-general;
  @include button-interaction($color-accent, $color-accent-contrast, $color-accent-interacting);

  padding-top: 13px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
}
