.more-products {
  padding-top: 83px;
}

.more-products__title {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  text-transform: uppercase;

  color: $color-basic;

  font-family: $font-accent;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  }

.more-products__text {
  margin-top: 9px;
  margin-bottom: 0;
  padding-bottom: 20px;

  text-align: center;

  font-style: 12px;
  line-height: 16px;
}

.more-product__button {
  @include button-general;
  @include button-interaction($color-neutral, $color-text, $color-neutral-interacting);

  padding-top: 13px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
}
