.more-product__button {
  @include button-general;
  @include button-interaction($color-neutral, $color-text, $color-neutral-interacting);

  padding-top: 13px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
}
